<!-- Config file for the game -->
<config>
  <app framerate_cap="60">
    <title>Order 227</title>
    <organization>UPC</organization>
    <debug active="true" />
  </app>
	
  <renderer>
    <vsync value="true"/>
  </renderer>

  <window>
    <resolution width="1280" height="720" scale="1"/>
    <fullscreen value="false"/>
    <borderless value="false"/>
    <resizable value="false"/>
    <fullscreen_window value="false"/>
  </window>

  <file_system>
    <path>data.zip</path>
  </file_system>

  <map>
    <folder>maps/</folder>
  </map>
  
  <entities>
	<units_initial_size value="200"/>
  </entities>


  <user_interface>
    <atlas file="ui/atlas.png" />
  </user_interface>

  <fonts>
    <open_sans id="0" file="fonts/open_sans/OpenSans-Regular.ttf" size="20" />
    <russian id="1" file="fonts/russian/Russian.ttf" size="30" />
    <molot id="2" file="fonts/molot/Molot.otf" size="30" />
    <end/>
  </fonts>

  <minimap width="300" height="150"/>

</config>